<!--This file is For local development purposes only-->

<!DOCTYPE html>
<html>
<head lang="en">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<meta name=“viewport” content="initial-scale=1.0">
	<title>Class Schedules</title>
	<link rel="stylesheet" href="clientlibs/css/<%= module %>.all.min.css"/>
</head>
<body>
<div ng-app="<%= module %>">
	<ui-view></ui-view>
</div>

<script src="lib/angular.min.js"></script>
<script src="lib/angular-ui-router.min.js"></script>

<script src="clientlibs/js/<%= module %>.base.js"></script>
<script src="clientlibs/js/<%= module %>.all.min.js"></script>
<script src="clientlibs/js/<%= module %>.partials.js"></script>
</body>
</html>
